.DS_Store
.vscode/launch.json
src/__pycache__/
src/submission/__pycache__/
.DS_Store
src/submission/results/
src/.DS_Store
~/.cache
~/Downloads
src/cache
src/.cache
sandbox.ipynb
src/.DS_Store
src/submission.zip
src/plot.png
.DS_Store
src/.DS_Store
src/submission/Archive.zip
results_backup/
src/submission/results_0
PS4.pdf
src/submission/Archive_old.zip
submission/results/ft/med_babi_128_first.json
src/submission/resultsold/
src/submission/Archiveold.zip
src/submission/Archive_last.zip
src/submission/ft.py
src/submission/Archiveold1.zip
src/submission/Archiveold2.zip
